<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <title>나홀로 주식</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .info_button {
            background-color: aqua;
        }
    </style>

    <script>
        let CODES = [];
        let RESULT = {};

        $(document).ready(function () {
            get_base_codes();
        })

        function get_base_codes() {
            $.ajax({
                type: "GET",
                url: '/base/codes',
                data: {},
                success: function (response) {
                    CODES = response['codes'];
                }
            })
        }

        function reset_button() {
            window.location.reload();
        }

        let radio_val = "";

        function save_radio_val(group, val) {
            RESULT[group] = val;
        }

        let tmp_cnt = 0;

        function click_button() {

            if (tmp_cnt == 0) {
                $("#btn-post-box").text("다음");
                $("#btn-post-box").css("background-color", "green");
                $("#radio-box").show();
            }

            if (tmp_cnt == CODES.length) {
                $("#btn-post-box").text("다시선택");
                $("#btn-post-box").css("background-color", "gray");
                $("#btn-post-box").attr("onclick", "reset_button()")

                get_stock();
            } else if (tmp_cnt < CODES.length) {
                $("#radio-box").empty();
                let group = CODES[tmp_cnt];

                $.ajax({
                    type: "GET",
                    url: `/codes?group=${group}`,
                    data: {},
                    success: function (response) {
                        let groups = response["groups"]
                        for (let i = 0; i < groups.length; i++) {
                            let name = groups[i].name
                            let code = groups[i].code

                            let resHTML = `<div class="form-check">
                                                <input onclick="save_radio_val('${group}','${code}')" class="form-check-input" type="radio" name="${group}" id="${code}">
                                                <label class="form-check-label" for="${code}">
                                                    ${name}
                                                </label>
                                            </div>`
                            $("#radio-box").append(resHTML);
                        }
                        tmp_cnt++;
                    }
                })
            }
        }

        function info_button(stock_code) {

            $.ajax({
                type: "GET",
                url: `/stock?stock_code=${stock_code}`,
                data: {},
                success: function (response) {
                    alert("시가 : " + response['price'] + "\n" +
                        "시총 : " + response['market_cap'] + "\n" +
                        "PER : " + response['per'])
                }
            })
        }

        function get_stock() {
            $("#radio-box").hide();

            $.ajax({
                type: "POST",
                url: '/stocks',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(RESULT),
                success: function (response) {
                    let stocks = response['stocks']
                    console.log(stocks)

                    if (stocks.length == 0) {
                        let resHTML = `<div>
                                            <span>해당하는 기업이 없습니다.</span>
                                        </div>`

                        $("#stock_box").append(resHTML);
                    }


                    for (let i = 0; i < stocks.length; i++) {
                        let stock_name = stocks[i].name
                        let stock_code = stocks[i].code

                        let resHTML = `<div>
                                            <span>${stock_name}</span>
                                            <button onclick="info_button('${stock_code}')" class="info_button" type="button">정보
                                            </button>
                                        </div>`

                        $("#stock_box").append(resHTML);
                    }
                }
            })
        }
    </script>

</head>

<body>
<div class="wrap">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" id="part-rec" onclick="changePart('rec')">추천</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" id="part-like"
               onclick="changePart('like')">즐겨찾기</a>
        </li>
    </ul>

    <div class="jumbotron">
        <h1 class="display-4">주식 종목 추천!!!</h1>
        <p class="lead">원하시는 종목을 추천합니다. 상한가 가즈아~!</p>
        <hr class="my-4">

        <div id="radio-box" style="display: none">
        </div>

        <div id="stock_box" style="">

        </div>

        <button onclick="click_button()" id="btn-post-box" type="button" class="btn btn-primary">추천시작
        </button>
        </p>
    </div>

    <div class="jumbotron" style="" id="like-part">
        <h1 class="display-4">즐겨찾기한 종목</h1>
        <p class="lead">즐겨찾기한 종목을 보여드려요~</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">종목</th>
                <th scope="col">즐겨찾기 취소</th>
                <th scope="col">정보</th>
            </tr>
            </thead>
            <tbody id="list-stock">

            </tbody>
        </table>
    </div>
</div>
</body>

</html>